<ons-page>
  <div style="text-align: center; margin-top:30px">
    <p>
      <ons-input id="username" modifier='underbar' placeholder="UserName" float></ons-input>
    </p>
    <p>
      <ons-input id="username" modifier='underbar' type="password" placeholder="password" float></ons-input>
    </p>
    <p style ="margin-top:30px">
      <ons-button (click)="push()">Login</ons-button>
    </p>
  </div>
</ons-page>
